
.barcelona-background{
	background-image:  url("../Images/barcelona.jpg");
/*
	height: 1300px;
	background-position-y: -200px;
*/
 	background-size: cover;
 	background-attachment:fixed;
}
.destinationsHeader{
	background-color: #364757;		
}
.filterBar{
	background-color: lightgrey;
	
}
.barcInsider{
	margin-top: 30px;
}

.filter-btn {
	text-align: center;
}

.insider {
	margin-top: 32px;
}
.messageInsider{
	background-color: rgba(54,180,199,0.7);
	height: 193px;
	color: black;
}
.barcelona-background .mix{
  text-align: left;

  margin-bottom: 2%;
  display: none;
}
h3 {
	margin-top: 88px;
	font-weight:600;
	color: white;
	font-size: 30px;
	text-align: center;
	
}
.meet-insider-info img{
	  width: 20%;
  margin-left: 10px;
  margin-bottom: 3px;
}
/*
label{
	margin-top: 12px;
	margin-left: 250px;
}
*/
.filterBar .btn.active{
	  background: #36b4c7;
  color: white;
  font-weight: 700;
  border-top: 1px solid #03899c;
  border-bottom: 0 none;
}
.filterBar .btn.active:hover {
  color: white;
}
.filterBar .btn{
	display: inline-block;
  vertical-align: middle;
  margin: 5px;
  background: white;
  color: #555555;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #f2f2f2;
}
.filterBar .btn:hover {
  color: #36b4c7;
}
.reviews{
	font-size: 14px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

/* Extra small devices (phones, less than 768px) */
@media only screen and (max-width: 767px) {

	.meet-insider-info {
	padding: 15px;
}

.messageInsider {
  height: 57px;
  padding-top: 11px;
  }
  
  h3 {
  margin-top: 0;

}

.insider {
  margin-top: 32px;
  text-align: center;
  padding-bottom: 12px;
  margin-top: -14px;
}


}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {

.meet-insider-info {
	padding: 15px;
}

}
	
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {


}

/* Large devices (tablets, 991px and up) */
@media (min-width: 991px) {

}

