.navbar-default {
    background:none;
    }
.destinationsHeader{
	background-color: #364757;		
}

.Prague{
	background-image:  url("../Images/prague.jpg");
	min-height: 300px;
	
}
.Barcelona{
	background-image:  url("../Images/barcelona.png");
	min-height: 300px;
	
  background-position-y: 305px;
  background-size: cover;
}
.Paris {
	background-image:  url("../Images/paris.jpg");
	min-height: 300px;
	
  background-position-y: 477px;
  background-size: cover;
}
.Rome{
		background-image:  url("../Images/rome.jpg");
	min-height: 300px;
	
  background-position-y: 305px;
  background-size: cover;
}
.destination h1{
	color: white;
	
}
