.navbar-default {
    background:none;
    }
.destinationsHeader{
	background-color: #364757;		
}

body {
	font-family: 'Open Sans', sans-serif;	
}

.blue {color: #36b4c7}
.btn-profile {
	font-family: 'Open Sans', sans-serif;	
  color: #ffffff;
  font-size: 12px;
  background: #36b4c7;
  padding: 4px 8px;
  text-decoration: none;
}

.btn-profile:hover {
  background: #364757;
  text-decoration: none;
  color: white;
}

.btn-connect {
	font-family: 'Open Sans', sans-serif;	
  color: #ffffff;
  font-size: 25px;
    background: #364757;
  padding: 10px 50px;
  text-decoration: none;
}

.btn-connect:hover {
  background: #36b4c7;
  text-decoration: none;
  color: white;
}

.profileblg {
	background-color: #ebebeb;
	padding: 30px;
	margin-bottom: 20px;
}
.profileblg2 {
	background-color: #e0e0e0;
	padding: 30px;
	margin-bottom: 20px;
}

h1{
	color: #36b4c7;
	text-align: center;
	font-weight: 600;
	font-size: 30px;
}
h2{
	color: #36b4c7;
	font-size: 25px;
}

h3{
	text-align: left;
	font-size: 18px;
}
p{
	font-size: 18px;
}


.destination h1{
	margin-top:120px;
	text-shadow: 1px 1px 1px #000;
	background-color: rgba(255,255,255,0.7);
	font-size: 3em;
}

.content {
	margin-top: 20px;
	margin-bottom: 20px;
}

/*-----------Footer--------------*/
.footer {
	background-color: #364757;
}

.footercontent {
	margin-top: 25px;
	text-align: right;
}

.copyright p {
	color: white;
	text-transform: uppercase; 
	font-weight: 300;
	margin-top: 12px;
	font-size: .75em;
}

.footerbottom {
	background: url(../images/tripmefooter.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	min-height: 55px;
/* 	background-color: #f7ba17; */
}

/*Footer Nav*/


.footer-nav {
	margin: 0;
}

.footer-nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: right;
}

.footer-nav ul li {
	display: inline;
	padding-left: 8px;
	margin-left: 1px;
	background: url('../images/nav_icon.png') no-repeat 0px 1px;
}

.footer-nav>ul li:first-child {
background: none;
}

.footer-nav ul li a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .8em;
}

.footer-nav ul li.active a {
	color: #58595b;
}

.footer-nav ul li a:hover {
	color: #58595b;
}
