body {
	font-family: 'Open Sans', sans-serif;	
}
h1{

	color: #36b4c7;
	text-align: center;
	font-weight: 600;
	font-size: 30px;
}
h2{
	color: #36b4c7;
	text-align: center;
	font-size: 18px;
}
p{
	text-align: center;
	font-size: 18px;
}
.how{
	text-align: center;	
}
.navbar-default {
    background:none;
    
    }
    .navbar-default .navbar-nav > li > a {
     color: white; 
     font-size:17px;
     
    }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: none;
    color: #bce6ec;
}
    
.background-image {
	background-image: url("../Images/headerimage.jpg");
	min-height: 500px;
	background-attachment: fixed;

	}

.login {
	margin-top: 80px;
	background-color: rgba(255,255,255,0.5);
}

.meet-insiders {
	background-image: url("../Images/paris.jpg");
	background-attachment: fixed;
	padding-bottom: 15px;

}

.meet-insiders h1 {
	color: white;
	 text-shadow: 1px 1px 1px #000;
}

.meet-insider-info h1 {
	font-size: 1.3em;
	color: #36b4c7;
}
.meet-insider-info {
	background-color: rgba(255,255,255,0.7);
}
