body {
	font-family: 'Open Sans', sans-serif;	
}
h1{

	color: #bce6ec;
	text-align: center;
	font-weight: 600;
	font-size: 30px;
}
h2{
	color: #bce6ec;
	text-align: center;
	font-size: 18px;
}
p{
	text-align: center;
	font-size: 18px;
}
.how{
	text-align: center;	
}
.navbar-default {
    background:none;
    }

    

.background-image {
	background-image: url("../Images/headerimage.jpg");
	height: 500px;
	}


