body {

}
h1{
	font-family: 'Open Sans', sans-serif;
	color: #bce6ec;
	text-align: center;
}

.navbar-default {
    background:none;
    }
    
background-image{
	url("SliceandDice/headerimage.jpg");
}
